.search {
    margin-bottom: 30px;
    text-align: center;
}

.search__title {
    font-size: 2rem;
    margin-bottom: 16px;
}

.searchForm__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.searchForm__label {
    align-self: flex-start;
    margin-bottom: 8px;
    font-weight: bold;
}

.searchForm__input {
    display: block;
    padding: 6px 12px;
    font-size: .875rem;
    color: var(--color-text);
    border: 1px solid var(--color-text);
    background-color:var(--color-bg-input);
    border-radius: 4px;
    margin-bottom: 8px;
}

.searchForm__error {
    font-size: 0.75rem;
    color: var(--color-error);
    align-self: flex-start;
}

.searchForm__submit {
    padding: 8px;
    border-radius: 4px;
    color: var(--color-text);
    font-size: 1rem;
    background-color: var(--color-bg-btn);
    transition: .3s;
}

.searchForm__submit:hover,
.searchForm__submit:active {
    background-color:var(--color-bg-btn-hover);
}